@charset "UTF-8";
h1, h2, p, span, em, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  webkit-appearance: none;
}

img {
  vertical-align: top;
}

.clearfix:after, .pageWrap_inner .static3 .contents ul:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.clearfix, .pageWrap_inner .static3 .contents ul {
  _height: 1px;
  min-height: 1px;
  /*・･*/
  	                      /*/
    height: auto;
    overflow: hidden;
    /**/
}

@-webkit-keyframes animate {
  0% {
    left: 0px;
    top: 0px;
  }
  5% {
    left: -2px;
    top: 4px;
    width: 24px;
    height: 16px;
    -webkit-filter: blur(0.1px);
  }
  10% {
    left: -1px;
    top: 4px;
    width: 22px;
    height: 18px;
    -webkit-filter: blur(0.1px);
  }
  /*halfway up*/
  15% {
    left: 1px;
    top: -17px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.3px);
  }
  /*top*/
  22% {
    left: 0px;
    top: -34px;
    width: 20px;
    height: 20px;
    -webkit-filter: blur(0.2px);
  }
  /*halfway down*/
  29% {
    left: 1px;
    top: -17px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.3px);
  }
  /*bottom*/
  34% {
    left: 1px;
    top: 0px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.2px);
  }
  /*elastic bottom*/
  40% {
    left: -1px;
    top: 4px;
    width: 22px;
    height: 18px;
    -webkit-filter: blur(0.1px);
  }
  /*end*/
  43% {
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-filter: blur(0px);
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  overflow: hidden;
  height: 100%;
  background-color: #aee3e4;
  color: #000000;
}
body.load .pageWrap_inner {
  opacity: 1;
}
body.load #loader {
  display: none;
}
body.load .page .static0 ul.pagePunch li {
  opacity: 1 !important;
}
body.load .page .static0 .pagePic ul li:nth-child(1) {
  right: -50px;
  bottom: -50px;
}
body.load .page .static0 .pagePic ul li:nth-child(2) {
  right: -30px;
  bottom: -99px;
}
body.load .page .static0 .pagePic ul li:nth-child(3) {
  right: -20px;
  bottom: -10px;
}
body.load .page .static0 .pagePic ul li:nth-child(4) {
  right: -27px;
  bottom: -44px;
}
body.load .page .static0 .pagePic ul li:nth-child(5) {
  right: -77px;
  bottom: -124px;
}

#loader {
  width: 150px;
  height: 17px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -10px -75px;
  display: block;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  opacity: 1;
}
#loader div {
  height: 17px;
  width: 17px;
  background: white;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: animate 1.4s ease infinite;
}
#loader div:nth-child(2) {
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -webkit-animation-delay: .08s;
}
#loader div:nth-child(3) {
  transform: translateX(60px);
  -webkit-transform: translateX(60px);
  -webkit-animation-delay: .16s;
}
#loader div:nth-child(4) {
  transform: translateX(90px);
  -webkit-transform: translateX(90px);
  -webkit-animation-delay: .24s;
}
#loader div:nth-child(5) {
  transform: translateX(120px);
  -webkit-transform: translateX(120px);
  -webkit-animation-delay: .32s;
}
#loader p {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.pageWrap {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #aee3e4;
}

.print {
  overflow: hidden;
}
.print_patbg {
  width: 270cm;
  height: 100%;
}
.print_patbg img {
  float: left;
}
.print_mask {
  position: absolute;
  top: 0;
  left: 0;
}
.print_mask img {
  width: 100%;
}
.print_cap {
  position: absolute;
  top: 0;
  left: 0;
}

.pageWrap_inner {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  padding: 5% 0;
  box-sizing: border-box;
  -webkit-transition: left 0.8s cubic-bezier(0.18, 0.7, 0.47, 0.99);
}
.pageWrap_inner.cur0 {
  left: 0%;
}
.pageWrap_inner.cur0 .static0 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur0 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur1 {
  left: -100%;
}
.pageWrap_inner.cur1 .static1 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur1 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur1 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur2 {
  left: -200%;
}
.pageWrap_inner.cur2 .static2 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur2 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur2 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur2 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur3 {
  left: -300%;
}
.pageWrap_inner.cur3 .static3 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur3 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur4 {
  left: -400%;
}
.pageWrap_inner.cur4 .static4 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur4 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur5 {
  left: -500%;
}
.pageWrap_inner.cur5 .static5 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur6 {
  left: -600%;
}
.pageWrap_inner.cur6 .static6 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon .pager li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur7 {
  left: -700%;
}
.pageWrap_inner.cur7 .static7 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon .pager li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur8 {
  left: -800%;
}
.pageWrap_inner.cur8 .static8 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon .pager li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur9 {
  left: -900%;
}
.pageWrap_inner.cur9 .static9 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon .pager li:nth-child(10) {
  opacity: 1;
}
.pageWrap_inner.cur10 {
  left: -1000%;
}
.pageWrap_inner.cur10 .static10 ul.pagePunch li {
  opacity: 1 !important;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(10) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon .pager li:nth-child(11) {
  opacity: 1;
}
.pageWrap_inner .page .contents h2 {
  margin-bottom: 58px;
}
.pageWrap_inner .page .contents > img {
  display: block;
  margin: 0 auto;
}
.pageWrap_inner .page .contents .pagePic {
  position: relative;
}
.pageWrap_inner .page .contents .pagePic img + img {
  position: absolute;
  bottom: -47px;
  right: 47px;
}
.pageWrap_inner .page ul.pagePunch li {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #aee3e4;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0s;
  -moz-transition: opacity 0s;
  -webkit-transition: opacity 0s;
  -o-transition: opacity 0s;
}
.pageWrap_inner .page ul.pagePunch li:nth-child(1) {
  top: -4px;
  right: 60px;
  transition-delay: 1.5s;
}
.pageWrap_inner .page ul.pagePunch li:nth-child(2) {
  top: 42px;
  right: 36px;
  transition-delay: 2s;
}
.pageWrap_inner .page ul.pagePunch li:nth-child(3) {
  top: 81px;
  right: 76px;
  transition-delay: 2.5s;
}

.nextBtn {
  display: inline-block;
  width: auto !important;
  background-color: #7079cf;
  padding: 0 36px;
  height: 44px;
  border-radius: 23px;
  line-height: 44px;
  cursor: pointer;
  margin: 32px 0 0 0;
  font-size: 14px;
  color: #fff;
}
.nextBtn img {
  vertical-align: middle;
}

.nextBtn:hover {
  color: #f00;
  border-color: #f00;
}

.pageWrap_inner .page {
  float: left;
  width: 9%;
  height: 100%;
  margin: 0 0.5%;
  box-sizing: content-box;
  border-radius: 10px;
  -webkit-transition: top .75s, opacity .75s;
  text-align: center;
  background-color: #fff;
}
.pageWrap_inner .page .page_inner:not(.static0) .pagePunch li:nth-child(1) {
  transition-delay: 1.5s;
}
.pageWrap_inner .page .page_inner:not(.static0) .pagePunch li:nth-child(2) {
  transition-delay: 2s;
}
.pageWrap_inner .page .page_inner:not(.static0) .pagePunch li:nth-child(3) {
  transition-delay: 2.5s;
}
.pageWrap_inner .page_inner {
  position: relative;
}
.pageWrap_inner .page .page_inner {
  display: table;
  height: 100%;
  width: 100%;
}
.pageWrap_inner .page .page_inner .contents {
  display: table-cell;
  vertical-align: middle;
}

.pageCommon {
  position: relative;
  width: 100%;
  height: 100%;
  clear: both;
  pointer-events: none;
}
.pageCommon h1, .pageCommon p, .pageCommon .pager {
  position: absolute;
}
.pageCommon h1 {
  top: 16px;
  left: 5%;
}
.pageCommon p {
  bottom: 18px;
  right: 5%;
}
.pageCommon ul.pager {
  bottom: 3px;
  left: 5%;
  overflow: hidden;
}
.pageCommon ul.pager li {
  background-color: #fff;
  opacity: 0;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 10px;
}
.pageCommon ul.pager li:nrh-child(2) {
  margin-top: 16px;
  margin-left: 13px;
}
.pageCommon ul.pager li:nth-child(3) {
  margin-top: 8px;
  margin-left: 8px;
}
.pageCommon ul.pager li:nth-child(4) {
  margin-top: 15px;
}

.scanBtn {
  position: relative;
}
.scanBtn #file {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.pageWrap_inner .page .static0 img {
  text-align: center;
}
.pageWrap_inner .page .static0 .pagePic {
  width: 21.2%;
  margin: 0 auto 52px auto;
  position: relative;
}
.pageWrap_inner .page .static0 .pagePic ul li {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: absolute;
  bottom: 0;
  right: 0;
}
.pageWrap_inner .page .static0 .pagePic ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.pageWrap_inner .page .static0 .pagePic ul li:nth-child(2) {
  transition-delay: 0.4s;
}
.pageWrap_inner .page .static0 .pagePic ul li:nth-child(3) {
  transition-delay: 0.2s;
}
.pageWrap_inner .page .static0 .pagePic ul li:nth-child(4) {
  transition-delay: 0.1s;
}
.pageWrap_inner .page .static0 .pagePic ul li:nth-child(5) {
  transition-delay: 0.3s;
}
.pageWrap_inner .page .static0 h2.lead {
  width: 35.1%;
  margin: 0 auto;
}
.pageWrap_inner .static3 .contents ul li {
  width: 225px;
  height: 225px;
  border-radius: 10px;
  border: 4px solid #ececec;
  float: left;
  transition: "border" 0.5s;
  -moz-transition: "border" 0.5s;
  -webkit-transition: "border" 0.5s;
  -o-transition: "border" 0.5s;
}
.pageWrap_inner .static3 .contents ul li:hover, .pageWrap_inner .static3 .contents ul li.selected {
  border: 4px solid #aee3e4;
}
.pageWrap_inner .static3 .contents ul li:nth-child(2) {
  margin: 0 30px;
}
.pageWrap_inner .static3 .contents ul li img {
  text-align: center;
  padding-top: 36px;
}
.pageWrap_inner .static3 .contents ul li span {
  font-size: 18px;
  line-height: 28px;
  display: block;
  margin: 25px auto 0 auto;
}
