h1, h2, p, span, em, ul, li {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: #eee;
}

.pageWrap {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #aee3e4;
}

.print {
  overflow: hidden;
}
.print_patbg {
  width: 270cm;
  height: 100%;
}
.print_patbg img {
  float: left;
}
.print_mask {
  position: absolute;
  top: 0;
  left: 0;
}
.print_mask img {
  width: 100%;
}
.print_cap {
  position: absolute;
  top: 0;
  left: 0;
}

.pageWrap_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  padding: 5% 0;
  box-sizing: border-box;
  -webkit-transition: left 0.8s cubic-bezier(0.18, 0.7, 0.47, 0.99);
}
.pageWrap_inner.cur0 {
  left: 0%;
}
.pageWrap_inner.cur0 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur1 {
  left: -100%;
}
.pageWrap_inner.cur1 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur1 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur2 {
  left: -200%;
}
.pageWrap_inner.cur2 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur2 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur2 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur3 {
  left: -300%;
}
.pageWrap_inner.cur3 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur3 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur4 {
  left: -400%;
}
.pageWrap_inner.cur4 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur4 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur5 {
  left: -500%;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur5 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur6 {
  left: -600%;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur6 + .pageCommon ul li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur7 {
  left: -700%;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur7 + .pageCommon ul li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur8 {
  left: -800%;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur8 + .pageCommon ul li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur9 {
  left: -900%;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur9 + .pageCommon ul li:nth-child(10) {
  opacity: 1;
}
.pageWrap_inner.cur10 {
  left: -1000%;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(1) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(2) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(3) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(4) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(5) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(6) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(7) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(8) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(9) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(10) {
  opacity: 1;
}
.pageWrap_inner.cur10 + .pageCommon ul li:nth-child(11) {
  opacity: 1;
}

.nextBtn {
  display: inline-block;
  width: auto !important;
  background-color: #7079cf;
  padding: 0 36px;
  height: 44px;
  border-radius: 23px;
  line-height: 44px;
  cursor: pointer;
}
.nextBtn img {
  vertical-align: middle;
}

.nextBtn:hover {
  color: #f00;
  border-color: #f00;
}

h2 {
  padding-top: 50px;
}

.page {
  float: left;
  width: 9%;
  height: 100%;
  margin: 0 0.5%;
  box-sizing: content-box;
  border-radius: 10px;
  -webkit-transition: top .75s, opacity .75s;
  text-align: center;
  background-color: #eee;
}
.page:nth-child(odd) {
  background-color: #ffe;
}
.page:nth-child(1) {
  background-color: #fff;
}
.page_inner {
  position: relative;
}

.pageCommon {
  position: relative;
  width: 100%;
  height: 100%;
  clear: both;
  pointer-events: none;
}
.pageCommon h1, .pageCommon p, .pageCommon ul {
  position: absolute;
}
.pageCommon h1 {
  top: 4.6%;
  left: 5%;
}
.pageCommon p {
  bottom: 4.6%;
  right: 5%;
}
.pageCommon ul {
  bottom: 3%;
  left: 5%;
  overflow: hidden;
}
.pageCommon ul li {
  background-color: #eee;
  opacity: 0;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 10px;
}
.pageCommon ul li:nrh-child(2) {
  margin-top: 16px;
  margin-left: 13px;
}
.pageCommon ul li:nth-child(3) {
  margin-top: 8px;
  margin-left: 8px;
}
.pageCommon ul li:nth-child(4) {
  margin-top: 15px;
}

.scanBtn {
  position: relative;
}
.scanBtn #file {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.page .static1 img {
  text-align: center;
}
.page .static1 h2 {
  width: 21.2%;
  margin: 0 auto;
}
.page .static1 p {
  width: 35.1%;
  margin: 28px auto 20px auto;
}
