// Base variable
$baseBlue:#aee3e4;
$baseWhite:#eee;
$btn:#7079cf;

//reset
h1,h2,p,span,em,ul,li{
	margin:0;
	padding:0;
}
img{
	vertical-align:top;
}



//Common
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1;
	background-color: $baseWhite;
}


.pageWrap {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color:$baseBlue;
}


.print {

	overflow: hidden;

	&_patbg {
		width: 270cm;
		height: 100%;
		img {
			float: left;
		}
	}

	&_mask {
		position: absolute;
		top: 0;
		left: 0;
		img {
			width: 100%;
		}
	}
	&_cap {
		position: absolute;
		top: 0;
		left: 0;
	}
}


.pageWrap_inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
	height: 100%;
	padding:5% 0;
	box-sizing:border-box;
	-webkit-transition: left .8s cubic-bezier(.18,.7,.47,.99);

	@for $i from 0 through 10 {
		&.cur#{$i} {
			left: $i * -100%;
			& + .pageCommon{
				ul{
					li{
						@for $j from 0 through $i{
							&:nth-child(#{$j+1}){
								opacity: 1;
							}
						}
						
					}
				}
			}
		}
	}
}

.nextBtn{
	display:inline-block;
	width: auto !important;
	background-color:$btn;
	padding:0 36px;
	height:44px;
	border-radius:23px;
	line-height:44px;
	cursor:pointer;
	img{
		vertical-align: middle;
	}
}
.nextBtn:hover {
	color: #f00;
	border-color: #f00;
}


h2 {
	padding-top: 50px;
}


.page  {
	float: left;
	width: 9%;
	height:100%;
	margin:0 0.5%;
	box-sizing:content-box;
	border-radius:10px;
	-webkit-transition: top .75s, opacity .75s;
	text-align: center;
	background-color: $baseWhite;


	&:nth-child(odd) {
		background-color: #ffe;
	}

	&:nth-child(1) {
		background-color: #fff;
	}

	&_inner {
		position: relative;
	}
}

.pageCommon{
	position:relative;
	width:100%;
	height:100%;
	clear:both;
	pointer-events:none;
	h1,p,ul{
		position:absolute;
	}
	h1{
		top:4.6%;
		left:5%;
	}
	p{
		bottom:4.6%;
		right:5%;
	}
	ul{
		bottom:3%;
		left:5%;
		overflow: hidden;
		li{
			background-color: $baseWhite;
			opacity: 0;
			text-indent: -9999px;
			width:18px;
			height: 18px;
			border-radius:50%;
			display:block;
			float:left;
			margin:10px;
			&:nrh-child(2){
				margin-top:16px;
				margin-left:13px;
			}
			&:nth-child(3){
				margin-top:8px;
				margin-left:8px;
			}
			&:nth-child(4){
				margin-top:15px;
			}

		}
	}
}



.scanBtn {
	position: relative;

	#file {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}


//pages
.page{
	.static1{
		img{
			text-align: center;
		}
		h2{
			width:21.2%;
			margin:0 auto;
		}
		p{
			width:35.1%;
			margin:28px auto 20px auto;
		}
	}

}

